%h1 Listing estoques

%table
  %thead
    %tr
      %th Nome
      %th
      %th
      %th

  %tbody
    - @estoques.each do |estoque|
      %tr
        %td= estoque.nome
        %td= link_to 'Show', estoque
        %td= link_to 'Edit', edit_estoque_path(estoque)
        %td= link_to 'Destroy', estoque, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Estoque', new_estoque_path
