%ul.nav
  %li= link_to 'Home', root_path
  %li= link_to 'Cadastrar Fornecedores', fornecedores_path
  %li= link_to 'Cadastrar Destinos', destinos_path
  %li= link_to 'Cadastrar Estoques', estoques_path
  %li= link_to 'Entrada Produtos', entrada_produtos_path
  = render 'layouts/navigation_links'
